
#container{
    width: 65%;
    text-align: center;
}

body {
      height: 2000px;
      /* добавим body прокрутку, подсказка должна работать и с прокруткой */
    }



h1{
  font-size: 45px;
  margin-left:  50px;
}

.active{
  background-color: green;

}
input{
  padding: 10px;

}
li{
  cursor: pointer;
  padding: 5px;
  margin-left: 50px;
  margin-bottom: 10px;
  border:1px solid #000;
  display: block;
  width: 100px;
}