
#container{
    width: 65%;
    text-align: center;
}

body {
      height: 2000px;
      /* добавим body прокрутку, подсказка должна работать и с прокруткой */
    }

    #contents{
      padding: 5px;
      border: 1px solid green;
    }